<h1>Articles</h1>
<h2>freee Developers Hub</h2>
<ul>
  <li>
    <a href="https://developers.freee.co.jp/entry/session-cache" target="_blank">
      2023-03-31 セッションキャッシュによる SPOF（単一障害点）問題の解消
    </a>
  </li>
  <li>
    <a href="https://developers.freee.co.jp/entry/freee-docker-desktop-alternative" target="_blank">
      2022-12-06 Docker on Lima なツールを色々試してみた
    </a>
  </li>
</ul>

<h2>Slides</h2>
<ul>
  <li>
    <a href="https://speakerdeck.com/yokonao/devcontainer-multi-repository-zhan-lue" target="_blank">
      2023-09-27 devcontainer Multi Repository 戦略
    </a>
  </li>
  <li>
    <a href="https://speakerdeck.com/freee/internal-session-for-microsevices" target="_blank">
      2023-04-16 freee のマイクロサービス化を支える InternalSession
    </a>
  </li>
</ul>
