<h1>Products</h1>
<h2>かけはし糖尿病・甲状腺クリニック Web 予約システム</h2>
<p>URL: <a href="https://yoyaku.kakehashi-dm.com" target="_blank">https://yoyaku.kakehashi-dm.com</a></p>
<p><a href="https://www.kakehashi-dm.com/" target="_blank">かけはし糖尿病・甲状腺クリニック</a>の予約サイトです。</p>
<p>患者様が必要な情報をスムーズに入力できる UI と、予約枠の追加・削除や休診日の設定が可能な管理画面を備えています。</p>

<h2>かけはし糖尿病・甲状腺クリニック Web 問診システム</h2>
<p>URL: <a href="https://monshin.kakehashi-dm.com" target="_blank">https://monshin.kakehashi-dm.com</a></p>
<p><a href="https://www.kakehashi-dm.com/" target="_blank">かけはし糖尿病・甲状腺クリニック</a>の問診システムです。</p>
<p>Web ブラウザから回答でき、Web 予約をとった後すぐに問診票に回答いただけます。</p>
<p>回答は院内システムへと自動連携されます。</p>
